<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>NEW EXPENSE</h1>
		<form method="POST" action="/save">
			<label for="item">ITEM NAME</label><input type="text" name="item">
			</br><label for="item">AMOUNT</label><input type="int" name="amount">
			</br><input type="submit" value="Submit">
		</form>
	</body>
</html>
